amqp==5.3.1
annotated-types==0.7.0
anyio==4.12.0
asgiref==3.9.1
billiard==4.2.3
boto3==1.42.17
botocore==1.42.17
Brotli==1.1.0
cachetools==6.2.4
celery==5.3.4
certifi==2025.7.14
cffi==2.0.0
charset-normalizer==3.4.2
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cryptography==45.0.7
defusedxml==0.7.1
deprecation==2.1.0
dj-database-url==3.0.1
Django==5.2.4
django-cors-headers==4.7.0
django-filter==25.1
django-jazzmin==3.0.1
django-ratelimit==4.1.0
django-storages==1.14.6
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
djoser==2.3.3
dotenv==0.9.9
ExtensionClass==6.0
fsspec==2025.12.0
gevent==25.9.1
greenlet==3.2.4
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
jmespath==1.0.1
kombu==5.6.0
markdown-it-py==4.0.0
mdurl==0.1.2
mercadopago==2.3.0
Missing==5.0
mmh3==5.2.0
modules==1.0.0
multidict==6.7.0
oauthlib==3.3.1
packaging==25.0
pillow==11.3.0
postgrest==2.27.0
prompt_toolkit==3.0.52
propcache==0.4.1
psycopg2-binary==2.9.10
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyiceberg==0.10.0
PyJWT==2.10.1
pyparsing==3.3.1
pyroaring==1.0.3
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
python3-openid==3.2.0
realtime==2.27.0
redis==5.0.1
requests==2.32.4
requests-oauthlib==2.0.0
rich==14.2.0
s3transfer==0.16.0
setuptools==80.9.0
six==1.17.0
social-auth-app-django==5.5.1
social-auth-core==4.7.0
sortedcontainers==2.4.0
sqlparse==0.5.3
storage3==2.27.0
StrEnum==0.4.15
strictyaml==1.7.3
supabase==2.27.0
supabase-auth==2.27.0
supabase-functions==2.27.0
tenacity==9.1.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
websockets==15.0.1
whitenoise==6.10.0
yarl==1.22.0
zope.deferredimport==5.1
zope.event==6.1
zope.interface==7.2
zope.proxy==6.1
